.pro-cons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.pro-cons ul {
  list-style: disc;
  padding-left: 30px;
  margin-top: 10px;
}
.skills {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 40px;

  background-color: var(--secondary-color);
  padding: 40px 0px 80px 0px;
}

.skills strong {
  padding-bottom: 40px;
}

.list-skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.list-skills p {
  padding: 5px 10px;
  border: 1px solid var(--light-grey);
  border-radius: 25px;
  background-color: white;
}

.before-after li {
  display: flex;
  gap: 5px;
}

.before-after img {
  min-width: 15px;
  object-fit: contain;
}

/*--------------------------------------------*/
/* --------------- DESKTOP -------------------*/

@media (min-width: 769px) {
  .pro-cons {
    grid-template-columns: 1fr 1fr;
  }

  .skills {
    grid-template-columns: 1fr 1fr;
  }

  .before-after {
    grid-column: 1 / -1;
  }
}
