.pro-cons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.pro-cons p,
.pro-cons h2 {
  text-align: center;
}

.pro-cons ul {
  list-style: disc;
  padding-left: 30px;
  margin-top: 10px;
}
.skills {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  justify-content: flex-start;
  margin: auto;
  gap: 40px;

  padding: 40px 0px 80px 0px;
  max-width: var(--max-width-content);
}

.skills-block {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills strong {
  font-weight: 700;
}

.list-skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.list-skills p {
  padding: 5px 10px;
  border: 1px solid var(--light-grey);
  border-radius: 25px;
  background-color: white;
}

.before-after {
  background-color: white;
  min-width: 400px;
}

.before-after li {
  display: flex;
  justify-content: space-between;
}

.before-after img {
  min-width: 15px;
  object-fit: contain;
}

.impact-text {
  max-width: 600px;
}

.thanks {
  font-size: var(--big-font-size);
  padding-top: 80px;
}

/*--------------------------------------------*/
/* --------------- DESKTOP -------------------*/

@media (min-width: 769px) {
  .pro-cons {
    grid-template-columns: 1fr 1fr;
  }

  .pro-cons p,
  .pro-cons h2 {
    text-align: left;
  }

  .skills {
    grid-template-columns: 1fr 1fr;
  }

  .before-after {
    grid-column: 1 / -1;
  }
}
